[submodule "components/LovyanGFX"]
	path = components/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
[submodule "components/scope_guard"]
	path = components/scope_guard
	url = https://github.com/esp-bugs/scope_guard.git
