menu "KespR3m0"

  menu "USB Keyboard Service"

    config KESPR_USBKBD_ENABLED
      bool "Enabled"
      default y

  endmenu

  menu "UART Service"

    config KESPR_UARTD_ENABLED
      bool "Enabled"
      default y

    config KESPR_UARTD_RX_PIN
      int "RX PIN"
      default 15
      depends on KESPR_UARTD_ENABLED

    config KESPR_UARTD_TX_PIN
      int "TX PIN"
      default 16
      depends on KESPR_UARTD_ENABLED

    config KESPR_UARTD_DEFAULT_BRAUD
      int "Default braud"
      default 115200
      depends on KESPR_UARTD_ENABLED

    config KESPR_UARTD_BUF_SIZE
      int "Buff size"
      default 1024
      depends on KESPR_UARTD_ENABLED

    config KESPR_UARTD_READ_PERIOD
      int "Read period (ms)"
      default 500
      depends on KESPR_UARTD_ENABLED

    config KESPR_UARTD_RX_STACK_SIZE
      int "Buff size"
      default 4096
      depends on KESPR_UARTD_ENABLED

  endmenu

endmenu
