menu "KespR3m0 HTTPD"

  config KESPR_HTTP_DEVMODE
    bool "Dev Mode"
    default n

  config KESPR_HTTP_PORT
    int "Listen port"
    default 80

  config KESPR_HTTP_BUF_SIZE
    int "HTTP buf size"
    default 4096

  config KESPR_WS_BUF_SIZE
    int "WS buf size"
    default 4096

  config KESPR_HTTP_FORCE_GZIP
    bool "Force gzip encoding"
    default y

  config KESPR_HTTP_MAX_CLIENTS
    int "Maximum clients"
    default 12

endmenu
