menu "KespR3m0 GUI"

  config KESPR_DEFAULT_BRIGHTNESS
    int "Display brightness"
    default 40

  config KESPR_GUI_LVGL_TICK_MS
    int "LVGL tick period (ms)"
    default 5

  config KESPR_GUI_LVGL_TASK_STACK
    int "LVGL task stack size"
    default 8192

  config KESPR_GUI_LVGL_TASK_PRIO
    int "LVGL task prio"
    default 5

  config KESPR_GUI_LVGL_TASK_AFFINITY
    int "LVGL task core affinity"
    default -1

  config KESPR_GUI_PERIOD_TIME_MS
    int "GUI update period time (ms)"
    range 5 500
    default 120

endmenu
